@import '../../variables/variables.scss';

.RecipeContainer {
  margin-bottom: 70px;
  width: 100%;

  @media (min-width: $desktopWidth) {
    display: flex;
  }

  .ImageContainer {
    // margin: 20px 0 0;
    width: 100%;

    @media (min-width: $desktopWidth) {
      margin: 0 170px 0 40px;
      width: 25%;
    }
  }

  .Image {
    width: 100%;

    @media (min-width: $desktopWidth) {
      border-radius: 3px;
    }
  }

  .InfoContainer {
    color: #3f3f3f;
    padding: 0 20px;
    word-wrap: break-word;

    @media (min-width: $desktopWidth) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
    }

    .Title {
      color: $blue;
      font-size: 17px;
      font-weight: 600;

      @media (min-width: $desktopWidth) {
        font-size: 22px;
      }
    }

    .Label {
      font-weight: 500;

      @media (min-width: $desktopWidth) {
        font-size: 18px;
      }
    }

    .ReadyInCopy {
      font-style: italic;

      @media (min-width: $desktopWidth) {
        font-size: 18px;
      }
    }

    .ServingsCopy {
      font-style: italic;
      margin-bottom: 15px;

      @media (min-width: $desktopWidth) {
        font-size: 18px;
        margin-bottom: 60px;
      }
    }
  }

  .UrlSection {
    align-items: flex-end;
    color: #3f3f3f;
    display: flex;

    .UrlCopy {
      color: #000;
      font-size: 15px;
      font-weight: 400;
      margin-left: 15px;
      text-decoration: underline;

      @media (min-width: $desktopWidth) {
        font-size: 17px;
      }
    }
  }
}
