@import '../../variables/variables.scss';

.RecipesViewContainer {
  margin-top: 175px;

  @media (min-width: $desktopWidth) {
    margin-top: 240px;
  }

  .LoadingCopy {
    color: $blue;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
    text-decoration: underline;
  }
}
