@import '../../variables/variables.scss';

.Modal {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  color: #3f3f3f;
  border-radius: 4px;
  height: 350px;
  inset: 40px;
  margin-top: 180px;
  outline: none;
  overflow: auto;
  padding: 20px;
  position: absolute;

  @media (min-width: $desktopWidth) {
    margin: 170px auto;
    height: 300px;
    width: 30%;
  }
}

.ConfirmationCopy {
  margin-top: 100px;
  text-align: center;

  @media (min-width: $desktopWidth) {
    margin-top: 90px;
  }
}

.ButtonContainer {
  display: flex;
  justify-content: center;
}

.Button {
  background-color: $blue;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  margin-top: 25px;
  padding: 7px 20px;
}

.Button:hover {
  cursor: pointer;
}
