@import '../../variables/variables.scss';

.LikesContainer {
  .Title {
    color: $blue;
    font-size: 24px;
    font-weight: 600;
    margin: 40px 0 20px;
    padding-left: 20px;

    @media (min-width: $desktopWidth) {
      font-size: 27px;
      margin: 40px 0 40px;
      padding-left: 40px;
    }
  }
}
